@import 'partials/reset';
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/common';

body {
  background-color: lima(100, .5);
  @include open_sans();
}

main {
  margin-top: 15vh !important;
  min-height: 60vh;
}

.card {
  box-sizing: border-box;
  background-color: #fff;
  @include depth_1();
  border-radius: 10px;
  min-height: 100vh;
}

section.card {
  padding: 50px;
}

