@import 'partials/reset';
@import 'partials/colors';
@import 'partials/fonts';
@import 'partials/common';

body {
  background-color: lima(100, .5);
  @include open_sans();
}

main {
  margin-top: 15vh !important;
  min-height: 60vh;
  position: relative;
  z-index: 0;
}

.card {
  box-sizing: border-box;
  background-color: #fff;
  @include depth_1();
  border-radius: 10px;
}

section.card {
  padding: 50px;
}

article.card, a.card {
  width: calc(33.33% - 14px);
  float: left;
  padding: 10px;
  box-sizing: border-box !important;
  margin: 7px;
  text-decoration: none;

  .card--title {
    font-size: 125%;
    text-align: center; 
  }
  
  .card--desc {
    font-size: 95%;
  }
}

